.ocean-background-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("../../../../public/assets/ocean_image/background_ocean/background_ocean.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    pointer-events: none;
    transform: translateZ(0);
    backface-visibility: hidden;
}
