.ocean-background-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;

    z-index: -10;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    pointer-events: none;

    transform: translateZ(0);
    backface-visibility: hidden;
}