.racing-car-flow {
    position: fixed;
    right: -440px;
    pointer-events: none;
    animation: racingCarMove 8s linear forwards;
}

.racing-car-image {
    width: 330px;
}

@keyframes racingCarMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-190vw);
    }
}
