.superman-flow-wrapper {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 30;
}

/* 本体 */
.superman-image-wrap {
    position: fixed;
    left: -20vw;
    top: 58%;
    width: 140px;
    z-index: 30;
    animation: supermanMove 18s linear forwards;
}

/* 画像 */
.superman-flow-image {
    display: block;
    width: 100%;
    height: auto;
    transform: scaleX(-1);
    animation: supermanFloat 0.2s infinite alternate;
}

/* 横移動 */
@keyframes supermanMove {

    from {
        left: -15vw;
    }

    to {
        left: 110vw;
    }
}

/* 揺れ */
@keyframes supermanFloat {

    from {
        transform: scaleX(-1) translateY(0px);
    }

    to {
        transform: scaleX(-1) translateY(-4px);
    }
}
