.flag-banner-flow {
    position: fixed;
    right: -500px;
    top: 18%;
    z-index: 30;
    pointer-events: none;
    animation: flagBannerMove 12s linear forwards;
}

.flag-banner-image {
    width: 420px;
    animation: flagWave 1.5s infinite ease-in-out;
}

@keyframes flagBannerMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-180vw);
    }
}

@keyframes flagWave {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
