.flag-banner-flow {
    position: fixed;
    right: -555px;
    pointer-events: none;
    animation: flagBannerMove 15s linear forwards;
}

.flag-banner-image {
    width: 460px;
}

@keyframes flagBannerMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-180vw);
    }
}
