.passing-car {
    position: fixed;
    right: -220px;
    top: 65%;
    width: var(--ocean-width-main-car);
    height: auto;
    z-index: 50;
    pointer-events: none;
    animation: passing-car-move 12s linear forwards, passing-car-shake 0.2s steps(1) infinite;
}

@keyframes passing-car-move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100vw - 400px));
    }
}

/* ƒJƒNƒb‚Æ—h‚ê‚é */
@keyframes passing-car-shake {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -4px;
    }

    100% {
        margin-top: 0px;
    }
}
