.passing-wrapper {
    position: fixed;
    right: -300px;
    width: 300px;
    z-index: 5;
    pointer-events: none;
    animation: passingMove 10s linear forwards;
}

    /*
  ’†’i‚ÆÅ‰º’i‚Ì’†ŠÔ‚­‚ç‚¢
*/
    .passing-wrapper.middle {
        top: 72%;
    }

/*
  ¶‚Ö—¬‚ê‚é
*/
@keyframes passingMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-140vw);
    }
}

/*
  Ô–{‘Ì
*/
.passing-car {
    width: 220px;
    user-select: none;
    animation: carShake 0.18s infinite linear;
}

/*
  ƒKƒ^ƒKƒ^—h‚ê
*/
@keyframes carShake {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    20% {
        transform: translateY(-1px) rotate(-0.3deg);
    }

    40% {
        transform: translateY(1px) rotate(0.3deg);
    }

    60% {
        transform: translateY(-1px) rotate(-0.2deg);
    }

    80% {
        transform: translateY(1px) rotate(0.2deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
