.background-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../../../public/assets/image/background_space/background_16x9.png");
    transition: background-image 0.5s ease-in-out;
}

@container space (max-aspect-ratio: 4/3) {
    .background-container {
        background-image: url("../../../../public/assets/image/background_space/background_4x3.png");
    }
}
