.futuristic-car-flow {
    position: fixed;
    right: -440px;
    pointer-events: none;
    animation: futuristicCarMove 9s linear forwards;
}

.futuristic-car-image {
    width: 330px;
}

@keyframes futuristicCarMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-170vw);
    }
}
