* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #050816;
}

.home-bg {
    position: fixed;
    inset: 0;
    z-index: 0;
    background: radial-gradient(circle at top, #182445 0%, #070b17 45%, #02040b 100%);
}

.home-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/*.home-title {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px rgba(0, 170, 255, 0.5);
    font-family: sans-serif;
}*/

.home-title {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 40px;
    font-family: sans-serif;
    color: #dff4ff;
    text-shadow: 0 0 5px rgba(120, 220, 255, 0.9), 0 0 10px rgba(80, 200, 255, 0.8), 0 0 20px rgba(0, 160, 255, 0.7), 0 0 40px rgba(0, 120, 255, 0.6);
    animation: glowPulse 3s ease-in-out infinite;
}

.settings-box {
    width: 420px;
    padding: 36px 34px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.icon-row {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.toggle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    padding: 6px 12px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.ok-button {
    margin-top: 30px;
    padding: 14px 60px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(135deg, #2ea7ff, #4f7cff);
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

    .ok-button:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }

@keyframes glowPulse {

    0% {
        text-shadow: 0 0 5px rgba(120, 220, 255, 0.7), 0 0 10px rgba(80, 200, 255, 0.6), 0 0 20px rgba(0, 160, 255, 0.5);
    }

    50% {
        text-shadow: 0 0 10px rgba(120, 220, 255, 1), 0 0 20px rgba(80, 200, 255, 0.9), 0 0 40px rgba(0, 160, 255, 0.8), 0 0 60px rgba(0, 120, 255, 0.7);
    }

    100% {
        text-shadow: 0 0 5px rgba(120, 220, 255, 0.7), 0 0 10px rgba(80, 200, 255, 0.6), 0 0 20px rgba(0, 160, 255, 0.5);
    }
}
