.ship-flow {
    position: fixed;
    right: -555px;
    pointer-events: none;
    animation: shipMove 17s linear forwards;
}

.ship-image {
    width: 460px;
}

@keyframes shipMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-180vw);
    }
}
