.vintage-car-flow {
    position: fixed;
    right: -440px;
    pointer-events: none;
    animation: vintageCarMove 12s linear forwards;
}

.vintage-car-image {
    width: 330px;
}

@keyframes vintageCarMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-170vw);
    }
}
