.train-flow {
    position: fixed;
    right: -555px;
    pointer-events: none;
    animation: trainMove 14s linear forwards;
}

.train-image {
    width: 500px;
}

@keyframes trainMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200vw);
    }
}
