.train-flow {
    position: fixed;
    right: -500px;
    top: 76%;
    z-index: 20;
    pointer-events: none;
    animation: trainMove 11s linear forwards;
}

.train-image {
    width: 450px;
    animation: trainShake 0.15s infinite linear;
}

@keyframes trainMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200vw);
    }
}

@keyframes trainShake {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(0px);
    }
}
