.sports-car-flow {
    position: fixed;
    right: -350px;
    top: 73%;
    z-index: 30;
    pointer-events: none;
    animation: sportsCarMove 7s linear forwards;
}

.sports-car-image {
    width: 280px;
    animation: sportsCarShake 0.14s infinite linear;
}

@keyframes sportsCarMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-180vw);
    }
}

@keyframes sportsCarShake {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0px);
    }
}
