.cat-flow {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
}

.cat-image {
    position: absolute;
    bottom: 20%;
    left: 100vw;
    width: 120px;
    animation: catMove 6s linear forwards;
}

@keyframes catMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-150vw);
    }
}
