.zigzag {
    position: absolute;
    width: 140px;
    animation: zigzagMove 6s linear infinite;
}

@keyframes zigzagMove {
    0% {
        transform: translate(100vw, 10vh);
    }

    25% {
        transform: translate(70vw, 30vh);
    }

    50% {
        transform: translate(40vw, 10vh);
    }

    75% {
        transform: translate(10vw, 40vh);
    }

    100% {
        transform: translate(-20vw, 20vh);
    }
}
