.shinkansen-flow {
    position: fixed;
    right: -660px;
    pointer-events: none;
    animation: shinkansenMove 10s linear forwards;
}

.shinkansen-image {
    width: 660px;
}

@keyframes shinkansenMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-220vw);
    }
}
