.astronaut2-flow {
    position: fixed;
    right: -300px;
    top: 40%;
    z-index: 50;
    pointer-events: none;
    animation: astronaut2Move 9s linear forwards;
}

.astronaut2-image {
    width: 180px;
    animation: astronautFloat 2s infinite ease-in-out;
}

@keyframes astronaut2Move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-160vw);
    }
}

@keyframes astronautFloat {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}
