.astronaut2-flow {
    position: fixed;
    right: -330px;
    pointer-events: none;
    animation: astronaut2Move 11s linear forwards;
}

.astronaut2-image {
    width: 205px;
}

@keyframes astronaut2Move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-160vw);
    }
}
