.superman-flow {
    position: fixed;
    right: -300px;
    top: 22%;
    z-index: 100;
    pointer-events: none;
    animation: supermanMove 9s linear forwards;
}

.superman-image {
    width: 220px;
    animation: supermanFloat 1.2s infinite ease-in-out;
}

@keyframes supermanMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-180vw);
    }
}

@keyframes supermanFloat {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0px);
    }
}
