.superman-flow {
    position: fixed;
    right: -330px;
    pointer-events: none;
    animation: supermanMove 11s linear forwards;
}

.superman-image {
    width: 240px;
}

@keyframes supermanMove {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-180vw);
    }
}
